<nav class="navbar navbar-light" aria-label="Main">
  <div class="container">
    <a class="navbar-brand" routerLink="/" aria-label="Everise, home">everise</a>

    @if (!isLoggedIn()) {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/roulette" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class="ion-shuffle" aria-hidden="true"></i>&nbsp;Roulette
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a>
        </li>
      </ul>
    } @else {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/roulette" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class="ion-shuffle" aria-hidden="true"></i>&nbsp;Roulette
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class="ion-compose" aria-hidden="true"></i>&nbsp;New Post
          </a>
        </li>
        <!-- The account menu: the user's own pages and signing out. -->
        <li class="nav-item">
          <cdt-menu label="Account">
            <span cdtMenuTrigger class="account" data-testid="loggedin-user">
              <img class="avatar" [src]="user().image" alt="" width="28" height="28" />
              {{ user().username }}
            </span>
            <a cdtMenuItem [routerLink]="['/profile', user().username]">Your profile</a>
            <a cdtMenuItem routerLink="/settings">Settings</a>
            <button cdtMenuItem type="button" [divided]="true" (click)="logout.emit()">Sign out</button>
          </cdt-menu>
        </li>
      </ul>
    }
  </div>
</nav>
